body{
  font-family:bookman;
  #grad {
  background: linear-gradient(to right, green , yellow);
}
}

.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;    
}

header {
    display: flex;
    flex-wrap: wrap;
   flex-direction: column;
    justify-content: left;
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: solid;
}

.logo{
  width:30%;
} 

.end {
  border-top: solid;
  color: #000000;
  text-align: center;
}

.flex-container {
    display: flex;
    flex-basis: row;
    max-width: 1170px;
    width: 100%;
}

.Pitems {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: 10px;
}

.img {
    width: 100%;
    height: 200px;
}
