body{
  font-family: 'Istok Web', sans-serif;
  background-image: url("https://images.homedepot-static.com/productImages/da1d53f0-de0b-4642-adb1-cfd915897de8/svn/chesapeake-wallpaper-ccb02191-64_1000.jpg");
  margin: 0px 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  padding: 1em 1em 1em 1em;
}

header .container {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 3px solid #990033;
}

.main {
  margin-left: auto;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: -0.8px
}

.logo {
  width: 125px;
  height: auto;
}

header:after {
  content: "";
}

.main-img{
  width: 90%;
  border-radius: 5px;
}

.about{
  line-height: 1.6;
  display: flex;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.featured-items {
  padding: 10px;
  margin: 10px 10px;
  max-width: 300px;
}

.featured-img {
  width: 100%;
  height: 200px;
  
}


/* Media */
@media screen and (min-width: 300px){
html {
     font-size: 15px;
    }
    .logo {
        width: 165px;
        height: auto;
    }
  
}



  


