body{
  font-family:arial;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: solid;
}

.logo{
  width:30%;
} 

.end {
  border-top: solid;
  color: #000000;
  text-align: center;
}


.flex-container {
    display: flex;
    flex-basis: row;
    max-width: 1170px;
    width: 100%;
    border-bottom: 3px solid #7d97ad;
}

.Pitems {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.33%;
    margin: 10px;
}
